:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

/*
Box Sizing rules
 */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
Remove all default margin & padding
 */

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/*
Allows focus on elements within its parent
*/

html:focus-within {
    scroll-behavior: smooth;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}





/*
Body
*/

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-rendering: optimizeSpeed;
    background-color: #FFF;
    color: #20303C;
    font-family: Inter sans-serif;
}

.row {
    display: flex;
}

.text-orange {
    color: #EE851F;
}

/*
Offer Banner
*/

.container-fluid {
    margin: 0;
    padding: 0 !important;
}

#topBanner {
    background-color: #20303C;
    height: 50px;
    margin: 0;
    width: 100%;
    padding: 0 !important;
    display: flex;
}

#topHeader {
    padding: 10px;
}

.headerWrap {
    display: flex;
    justify-content: space-between;

}

#phone {
    height: 1.5rem;
    width: 1.5rem;
    display: inline-flex;
    justify-self: start;
}

#phoneNumber {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    justify-self: start;
}

#offer {
    color: #FFFFFF;
    font-weight: 500;
    line-height: 27px;
    display: inline-flex;
    align-self: center;
    justify-self: center;
}

#clickHere {
    color: #EE851F;
    white-space: break-spaces;
}

#socialMedia {
    height: 2rem;
    width: 8rem;
    display: inline-flex;
}


/*
Logo and Client Login
*/

#logo {
    border-bottom: 1px solid #e8e8e8;
}

.clientLogin {
    margin: 10px;
}


/*
Navigation Bar
*/

nav {
    display: flex;
    justify-content: flex-end;
    color: #20303C;
    font-weight: 500;
    font-size: 1rem;
    line-height: 171.19%;
    padding-bottom: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
}

li {
    display: inline;
    padding: 15px;

}


/*
Main Page
*/

.jumbotron {
    margin-top: 45px;
    margin-bottom: 4rem;
}

section.jumbotron h1 {
    color: #20303C;
    font-style: normal;
    font-weight: bolder;
    font-size: 50px;
    line-height: 66px;
    width: 774px;
    display: flex;
    margin: 0 0 30px;
}

.frontPageText {
    color: #424242;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    width: 663px;
    height: 96px;
    padding-right: 3rem;
}

.addressImage {
    position: relative;

}

#homeBanner-img {
    width: 36rem;
    height: 28rem;
    display: inline-flex;
    position: static;
    vertical-align: middle;
    box-shadow: 0 10px 28px -16px #111;
    border-style: none;
}

.viewButtons {
    display: inline-flex;
}

.trustPilot {
    width: 19rem;
    height: 12rem;
    padding-top: 30px;
    padding-left: 20px;
}


/*
Main Page Buttons
*/

#viewPricing {
    font-size: 14px;
    line-height: 24px;
    background-color: #EE851F;
    color: #FFFFFF;
    border-radius: 50px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 35px;
    gap: 10px;
    margin: 30px 1.5rem 30px 0;
    box-shadow: 0 10px 21px rgba(236, 126, 43, 0.4);
}

#viewPricing:hover {
    transition-duration: 400ms;
    background-color: #20303C;
}

#viewPricing:active {
    background-color: #20303C;
    box-shadow: 0 10px 21px rgba(236, 126, 43, 0.4);
    transform: translateY(4px);
}

#ourLocations {
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    color: #EE851F;
    border: 1px solid #EE851F;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 35px;
    gap: 10px;
    margin: 30px 12px;
}

#ourLocations:hover {
    transition-duration: 400ms;
    background-color: #EE851F;
    color: #FFFFFF;
}

#ourLocations:active {
    background-color: #EE851F;
    transform: translateY(4px);
}





/*
Middle Banner
*/

section.container-fluid {
    background: linear-gradient(90deg, #20303c 71.25%, #ee851f 28.75%);
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 0 auto;
    width: 100%;
}

.middleBanner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.middleBanner h3 {
    font-weight: 600;
}

.middleBanner p {
    font-size: small;
    align-items: center;
}

.trustedClients {
    display: inline-flex;
    align-items: center;
}

.experience {
    display: inline-flex;
    align-items: center;
}

.prestigiousOffices {
    display: inline-flex;
    align-items: center;
}

.liveChat {
    display: inline-flex;
    align-items: center;
}

#clients {
    height: 5rem;
    display: inline-flex;
    padding: 7px 20px;
}

#over100Years {
    height: 5rem;
    display: inline-flex;
    padding: 7px 20px;
}

#offices {
    height: 5rem;
    display: inline-flex;
    padding: 7px 20px;
}

#chat {
    height: 6rem;
    display: inline-flex;
    padding: 7px;
}


/*
Second Half
*/

.aboutUsWrapper {
    margin: 3rem 0;
    padding: 3rem 0;
}

.aboutUs-bg-img {
    background-image: url("https://mycoworks.co.uk/assets/img/about_us.png");
    width: 30%;
    top: 1097px;
    left: 0;
    height: 50%;
    position: absolute;
    z-index: -9;
}

.aboutUs-bg-img img {
    width: 16%;
    height: 41%;
    margin-left: 36%;
    margin-top: 17%;
    vertical-align: middle;
    z-index: auto;
}

#aboutRow {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.aboutImage {
    padding-right: 5rem;
    margin-right: 3rem;
}

.aboutImage img {
    width: 100%;
    border-radius: 22px;
}

.aboutUs {
    flex: 0 0 50%;
    padding: 0 15px;
}

.introTitle {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}

.introText {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 1rem;
    line-height: 30px;
    color: #525252;
}

#aboutUsButton {
    color: #FFFFFF;
    background-color: #EE851F;
    box-shadow: 0 4px 10px 2px rgba(238, 133, 31, 0.2);
    display: flex;
    align-items: center;
    padding: 14px 30px;
    width: 100%;
    border: none;
    border-radius: 44px;
    line-height: 18px;
}

#aboutUsButton:hover {
    transition-duration: 400ms;
    background-color: #20303C;
}

#aboutUsButton:active {
    background-color: #20303C;
    box-shadow: 0 10px 21px rgba(238, 133, 31, 0.2);
    transform: translateY(4px);
}



/*
Limited Company Formation
*/
.limitedCompanyFormation {
    background-image: url("https://mycoworks.co.uk/assets/img/home-banner-img1.png");
    background-size: contain;
    color: #FFFFFF;
    padding: 80px 0;
}


/*  Left Side  */
.companyFormation {

}

.companyFormation h3 {
    margin-bottom: 30px;
}

.input_search {
    display: flex;
}

.input_search h6 {
    font-weight: bolder;
}

#companyName {
    width: 70%;
    padding: 20px;
    margin: 20px 0;
    border: none;
    outline: none;
    overflow: visible;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#searchCompanyFormation {
    background: #EE851F;
    color: #FFFFFF;
    border: none;
    padding: 0 30px;
    margin: 20px 0;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}


/*  Right side  */
.companyFormationLearnMore {
    display: grid;
    grid-template-columns: 1fr 270px;
    background-color: #FFF;
    border-radius: 12px;
    padding: 20px 40px;
    width: 100%;
    font-weight: 600;
}

.cfText {
    color: #212529;
    align-self: center;
    font-weight: bolder;
}

.learnMoreButton {
    display: flex;
    width: 150px;
    background: #EE851F;
    color: #FFFFFF;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    padding: 14px 30px;
    outline: none;
    border: none;
    margin-top: 30px;
}

/*
Prices And Services
*/





































@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

