$primaryOrange: #EE851F
$primaryBlue: #20303c
$orangeHighlight: rgba(238, 133, 31, 0.06)
$tableBorder: 1px solid #E5E5E5

@mixin tabLinks
  background: none
  border: none
  outline: none
  box-shadow: none
  color: #c4c4c4
  cursor: pointer
  margin-right: 20px
  padding: 0 0 10px
  &:active
    background: none
    color: $primaryBlue
    border-bottom: 2px solid $primaryOrange
    outline: none
    cursor: pointer
    margin-right: 20px
    padding: 0 0 10px
  &:focus
    color: $primaryBlue
    border-bottom: 2px solid $primaryOrange
  &:target
    color: $primaryBlue
    border-bottom: 2px solid $primaryOrange

@mixin active
  background: none
  color: $primaryBlue
  border-bottom: 2px solid $primaryOrange
  outline: none
  cursor: pointer
  margin-right: 20px
  padding: 0 0 10px

@mixin currentlyActive
  background: $primaryOrange
  color: #FFFFFF
  border: none
  outline: none
  &:hover
    color: #FFFFFF
    border: none
    outline: none

@mixin tableText
  margin-top: 2rem
  margin-bottom: 3rem
  line-height: 200%

@mixin boxShadow
  box-shadow: 0 40px 55px -20px #111

@mixin tableButton
  border-radius: 50px
  outline: none
  border: 1px solid #DEDEDE
  padding: 10px 25px
  background: #FFFFFF
  margin-right: 1rem
  &:hover
    border: 1px solid $primaryOrange
    color: $primaryOrange

@mixin tableLine
  height: 1px
  background-color: #DEDEDE
  display: flex
  align-self: center


root
  --blue: #007bff
  --indigo: #6610f2
  --purple: #6f42c1
  --pink: #e83e8c
  --red: #dc3545
  --orange: #fd7e14
  --yellow: #ffc107
  --green: #28a745
  --teal: #20c997
  --cyan: #17a2b8
  --white: #fff
  --gray: #6c757d
  --gray-dark: #343a40
  --primary: #007bff
  --secondary: #6c757d
  --success: #28a745
  --info: #17a2b8
  --warning: #ffc107
  --danger: #dc3545
  --light: #f8f9fa
  --dark: #343a40
  --breakpoint-xs: 0
  --breakpoint-sm: 576px
  --breakpoint-md: 768px
  --breakpoint-lg: 992px
  --breakpoint-xl: 1200px
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
  --mainBlue: $primaryBlue

html
  overflow-x: hidden!important


//Box Sizing rules


*,
*::before,
*::after
  box-sizing: border-box



//Remove all default margin & padding


*
  margin: 0
  padding: 0
  font: inherit


ul[role='list'],
ol[role='list']
  list-style: none



//Allows focus on elements within its parent


html:focus-within
  scroll-behavior: smooth


img,
picture,
svg
  max-width: 100%
  display: block







//Body


body
  margin: 0
  width: 100%
  min-height: 100vh
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  text-align: left
  text-rendering: optimizeSpeed
  background-color: #FFF
  color: $primaryBlue
  font-family: Inter, sans-serif


.row
  display: flex


.text-orange
  color: $primaryOrange



//Offer Banner


.container-fluid
  margin: 0
  padding: 0 !important


#topBanner
  background-color: $primaryBlue
  height: 50px
  margin: 0
  width: 100%
  padding: 0 !important
  display: flex


#topHeader
  padding: 10px


.headerWrap
  display: flex
  justify-content: space-between



#phone
  height: 1.5rem
  width: 1.5rem
  display: inline-flex
  justify-self: start


#phoneNumber
  color: #FFFFFF
  font-family: 'Lato', sans-serif
  font-style: normal
  font-size: 18px
  font-weight: 400
  justify-self: start


#offer
  color: #FFFFFF
  font-weight: 500
  line-height: 27px
  display: inline-flex
  align-self: center
  justify-self: center


#clickHere
  color: $primaryOrange
  white-space: break-spaces


#socialMedia
  height: 2rem
  width: 8rem
  display: inline-flex




//Logo and Client Login
.clientLogin
  width: 100%
  display: flex
  margin: 10px

#logo
  border-bottom: 1px solid #e8e8e8

.loginButtons
  display: flex
  width: 100%
  justify-content: flex-end

.cart
  display: flex
  height: 30px
  width: 30px
  align-self: center
  margin-right: 0.6rem

.client
  font-size: 14px
  background-color: transparent
  color: $primaryOrange
  border: 1px solid $primaryOrange
  border-radius: 50px
  padding: 10px 30px
  gap: 10px
  margin: 1rem 0.5rem
  &:hover
    transition-duration: 400ms
    background-color: $primaryOrange
    color: #FFFFFF
  &:active
    background-color: $primaryOrange
    transform: translateY(4px)

.enquire
  font-size: 14px
  background-color: $primaryOrange
  color: #FFFFFF
  border-radius: 50px
  border: none
  padding: 10px 30px
  margin: 1rem 0.5rem
  box-shadow: 0 10px 21px rgba(236, 126, 43, 0.4)
  &:hover
    transition-duration: 400ms
    background-color: $primaryBlue
  &:active
    background-color: $primaryBlue
    box-shadow: 0 10px 21px rgba(236, 126, 43, 0.4)
    transform: translateY(4px)


//Navigation Bar


nav
  display: flex
  justify-content: flex-end
  color: $primaryBlue
  font-weight: 500
  font-size: 1rem
  line-height: 171.19%
  padding-bottom: 30px


.nav ul
  list-style-type: none
  margin: 0
  padding-top: 10px


.nav li
  display: inline
  padding: 15px




//Main Page


.jumbotron
  margin-top: 45px
  margin-bottom: 4rem


section.jumbotron h1
  color: $primaryBlue
  font-style: normal
  font-weight: bolder
  font-size: 50px
  line-height: 66px
  width: 774px
  display: flex
  margin: 0 0 30px


.frontPageText
  color: #424242
  font-weight: 400
  font-size: 1rem
  line-height: 2rem
  width: 663px
  height: 96px
  padding-right: 3rem


.addressImage
  position: relative


#homeBanner-img
  width: 36rem
  height: 28rem
  display: inline-flex
  position: static
  vertical-align: middle
  box-shadow: 0 10px 28px -16px #111
  border-style: none


.viewButtons
  display: inline-flex


.trustPilot
  width: 19rem
  height: 12rem
  padding-top: 30px
  padding-left: 20px




//Main Page Buttons


#viewPricing
  font-size: 14px
  line-height: 24px
  background-color: $primaryOrange
  color: #FFFFFF
  border-radius: 50px
  border: none
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 14px 35px
  gap: 10px
  margin: 30px 1.5rem 30px 0
  box-shadow: 0 10px 21px rgba(236, 126, 43, 0.4)
  &:hover
    transition-duration: 400ms
    background-color: $primaryBlue
  &:active
    background-color: $primaryBlue
    box-shadow: 0 10px 21px rgba(236, 126, 43, 0.4)
    transform: translateY(4px)




#ourLocations
  font-size: 14px
  line-height: 24px
  background-color: transparent
  color: $primaryOrange
  border: 1px solid $primaryOrange
  border-radius: 50px
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding: 14px 35px
  gap: 10px
  margin: 30px 12px
  &:hover
    transition-duration: 400ms
    background-color: $primaryOrange
    color: #FFFFFF
  &:active
    background-color: $primaryOrange
    transform: translateY(4px)









//Middle Banner


section.container-fluid
  background: linear-gradient(90deg, $primaryBlue 50%, $primaryOrange 50%)
  color: #FFFFFF
  padding: 0 15px
  margin: 0 auto
  width: 100%
  height: 7rem


.middleBanner
  display: flex
  align-items: center
  justify-content: space-between
  height: 7rem
  background: linear-gradient(90deg, $primaryBlue 80%, $primaryOrange 20%)


.middleBanner h3
  font-weight: 600


.middleBanner p
  font-size: 0.85rem
  align-items: center


.trustedClients-col
  display: flex
  align-items: center
  justify-content: center
  background-color: $primaryBlue


.experience-col
  display: flex
  align-items: center
  justify-content: center
  background-color: $primaryBlue


.prestigiousOffices-col
  position: relative
  display: flex
  align-items: center
  justify-content: center
  background-color: $primaryBlue
  margin: 0


.liveChat-col
  display: flex
  align-items: center
  justify-content: center
  margin: 0

.inner
  border-radius: 50%
  color: rgba(238, 134, 31, 0.5)

.inner:hover
  border-radius: 50%
  left: 0
  transition-property: right, left
  transition-duration: 5s
  transition-timing-function: linear
  background-color: $primaryOrange

.liveChat-img
  background: linear-gradient(90deg, $primaryBlue 50%, $primaryOrange 50%)
  display: flex

.liveChat-text
  margin-left: 10px
  background-color: $primaryOrange


#clients
  height: 5rem
  display: inline-flex
  padding: 7px 20px


#over100Years
  height: 5rem
  display: inline-flex
  padding: 7px 20px


#offices
  height: 5rem
  display: inline-flex
  padding: 7px 20px


#chat
  height: 7rem
  display: inline-flex
  padding: 7px




//Introducing MYCO Works


.aboutUsWrapper
  margin: 3rem 0
  padding: 3rem 0


.aboutUs-bg-img
  background-image: url("https://mycoworks.co.uk/assets/img/about_us.png")
  width: 30%
  top: 1055px
  left: 0
  height: 50%
  position: absolute
  z-index: -9
  overflow: hidden


.aboutUs-bg-img img
  width: 16%
  height: 42%
  margin-left: 36%
  margin-top: 17%
  vertical-align: middle
  z-index: auto


#aboutRow
  display: flex
  flex-wrap: wrap
  margin-left: -15px
  margin-right: -15px


.aboutImage
  padding-right: 5rem
  margin-right: 3rem


.aboutImage img
  width: 100%
  border-radius: 22px


.aboutUs
  flex: 0 0 50%
  padding: 0 15px


.introTitle
  margin-bottom: 50px
  font-style: normal
  font-weight: 500
  font-size: 30px
  line-height: 40px


.introText
  margin-bottom: 20px
  font-weight: normal
  font-size: 1rem
  line-height: 30px
  color: #525252


#aboutUsButton
  color: #FFFFFF
  background-color: $primaryOrange
  box-shadow: 0 4px 10px 2px rgba(238, 133, 31, 0.2)
  display: flex
  align-items: center
  padding: 14px 30px
  border: none
  border-radius: 44px
  line-height: 18px
  &:hover
    transition-duration: 400ms
    background-color: $primaryBlue
  &:active
    background-color: $primaryBlue
    box-shadow: 0 10px 21px rgba(238, 133, 31, 0.2)
    transform: translateY(4px)







//Limited Company Formation

.limitedCompanyFormation
  background-image: url("https://mycoworks.co.uk/assets/img/home-banner-img1.png")
  background-size: contain
  color: #FFFFFF
  padding: 80px 0

//Left Side
.companyFormation h3
  margin-bottom: 30px


.input_search
  display: flex


.input_search h6
  font-weight: bolder


#companyName
  width: 70%
  padding: 20px
  margin: 20px 0
  border: none
  outline: none
  overflow: visible
  border-bottom-left-radius: 20px
  border-top-left-radius: 20px


#searchCompanyFormation
  background: $primaryOrange
  color: #FFFFFF
  border: none
  padding: 0 30px
  margin: 20px 0
  cursor: pointer
  outline: none
  border-top-right-radius: 50px
  border-bottom-right-radius: 50px
  &:hover
    transition-duration: 400ms
    background-color: $primaryBlue
  &:active
    background-color: $primaryBlue
    box-shadow: 0 10px 21px rgba(238, 133, 31, 0.2)
    transform: translateY(4px)

.text-orange:hover
  color: $primaryOrange
  cursor: pointer


//Right-hand Side
.companyFormationLearnMore
  display: grid
  grid-template-columns: 1fr 270px
  background-color: #FFF
  border-radius: 12px
  padding: 20px 40px
  width: 100%
  font-weight: 600


.cfText
  color: #212529
  align-self: center
  font-weight: bolder


.learnMoreButton
  display: flex
  width: 150px
  background: $primaryOrange
  color: #FFFFFF
  border-radius: 50px
  text-align: center
  text-decoration: none
  padding: 14px 30px
  outline: none
  border: none
  margin-top: 30px
  &:hover
    transition-duration: 400ms
    background-color: $primaryBlue
    color: #FFFFFF
  &:active
    background-color: $primaryBlue
    box-shadow: 0 10px 21px rgba(238, 133, 31, 0.2)
    transform: translateY(4px)
    color: #FFFFFF








//Business Address Services, Telephone Answering Service, Company Formation, and Meeting Rooms
.tab
  margin-bottom: 40px

.tabContent
  display: none

.tabText p
  display: flex
  margin-bottom: 20px
  line-height: 30px
  color: #6A6A6A


.businessAddressServices
  background: #FFFFFF
  padding: 80px 0

.aboutBAS h3
  margin-bottom: 40px

.BASImg img
  border-radius: 22px
  box-shadow: 0 40px 55px -20px #111



.telephoneAnsweringService
  background: #F2F3F3
  padding: 80px 0

.aboutTAS h3
  margin-bottom: 40px

.telephoneAnsweringService img
  margin-right: 20px
  border-radius: 22px
  box-shadow: 0 40px 55px -20px #111



.CFAndRM
  padding: 80px 0

.aboutCFAndRM h3
  margin-bottom: 40px

.CFImage
  margin-left: 20px
  border-radius: 22px
  box-shadow: 0 40px 55px -20px #111



.meetingRooms
  background: #F2F3F3
  padding: 80px

.aboutMeetingRooms h3
  margin-bottom: 40px

.meetingRoomImg
  margin-right: 20px
  border-radius: 22px
  box-shadow: 0 40px 55px -20px #111

.meetingButton
  display: inline-flex
  width: fit-content
  background: $primaryOrange
  color: #FFFFFF
  border-radius: 50px
  text-decoration: none
  text-align: center
  padding: 14px 30px
  outline: none
  border: none
  margin-top: 30px
  margin-right: 1rem
  &:hover
    transition-duration: 400ms
    background-color: $primaryBlue
    color: #FFFFFF
  &:active
    background-color: $primaryBlue
    box-shadow: 0 10px 21px rgba(238, 133, 31, 0.2)
    transform: translateY(4px)
    color: #FFFFFF


.BASLinks
  @include tabLinks

.TASLinks
  @include tabLinks

.CFLinks
  @include tabLinks

.meetingLinks
  @include tabLinks

.sub-active
  background: none
  color: $primaryBlue
  border-bottom: 2px solid $primaryOrange
  outline: none
  cursor: pointer
  margin-right: 20px
  padding: 0 0 10px


//Virtual Office Packages
.virtualOfficePackages
  text-align: center
  margin-top: 4rem
  margin-bottom: 2rem
  line-height: 30px

.VOPTabs
  display: flex

.BATabs
  display: flex

.CFTabs
  display: flex

.VOPackages
  @include tableButton

.currentlyActive
  background: $primaryOrange
  color: #FFFFFF
  border: none
  outline: none
  &:hover
    color: #FFFFFF
    border: none
    outline: none

.tabsLine
  width: 45%
  @include tableLine

.BALine
  width: 65%
  @include tableLine

.CFLine
  width: 45%
  @include  tableLine

.BASubTab
  border-radius: 50px
  outline: none
  border: 1px solid #DEDEDE
  padding: 10px 25px
  background: #FFFFFF
  margin-right: 1rem
  &:hover
    border: 1px solid $primaryOrange
    color: $primaryOrange

.activeBASubTab
  background-color: $primaryOrange
  color: #FFFFFF
  border: none
  outline: none
  &:hover
    color: #FFFFFF

.CFSubTab
  border-radius: 50px
  outline: none
  border: 1px solid #DEDEDE
  padding: 10px 25px
  background: #FFFFFF
  margin-right: 1rem
  &:hover
    border: 1px solid $primaryOrange
    color: $primaryOrange


.activeCFSubTab
  background-color: $primaryOrange
  color: #FFFFFF
  border: none
  outline: none
  &:hover
    color: #FFFFFF



.privacyText
  @include tableText

.businessAddressText
  @include tableText

.companyFormationText
  @include tableText

.callAnsweringText
  @include tableText


.table1
  margin: 2rem auto
  text-align: center

.subTable
  margin: 2rem auto
  text-align: center

.CFSubTable
  margin: 2rem auto
  text-align: center

.col-lg-4
  text-align: left

.col-md-3
  text-align: left

.tableBorder
  border-top: $tableBorder
  border-left: $tableBorder

.tableBorderBottom
  border-bottom: $tableBorder

.tableBorderRight
  border-right: $tableBorder

.col-sm
  border-top: $tableBorder
  border-left: $tableBorder
  width: 100%
  height: auto
  display: table-cell

.mostPopular
  background: $primaryOrange
  color: #FFFFFF
  font-size: 0.8rem
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 20px

.popular
  background: $orangeHighlight
  position: relative

.planName
  font-size: 1.1rem
  height: 5.063rem
  font-weight: 500
  margin-top: 2rem

.planPrice
  width: 100%
  height: 3.5rem
  color: $primaryOrange
  font-size: 2.875rem
  font-weight: 600

.price
  display: inline-flex
  height: 3.5rem


.planPrice small
  color: $primaryOrange
  font-size: 1.4rem
  margin-right: 0.5rem

.vat
  color: #BDBDBD
  font-size: 0.75rem
  display: flex
  align-items: flex-end

.planDuration
  color: $primaryOrange
  font-size: 0.9rem
  margin-top: 0

.postalDeposit
  color: #6c757d
  font-size: 0.9rem

.planButton
  width: 100%
  height: auto

.tableBtn
  background: $primaryOrange
  color: #FFFFFF
  border-radius: 50px
  border: none
  outline: none
  padding: 6px 20px
  margin-bottom: 1rem
  box-shadow: 0 4px 10px 2px rgba(238, 133, 31, 0.2)
  &:hover
    background: $primaryBlue

.table-light
  background: #FAFAFA

.TopBtnSpace
  margin-top: 3.3rem

.bottomBtnSpace
  margin-top: 3.4rem

.rowTitle
  display: flex
  align-items: center
  align-content: center
  padding: 10px 30px!important
  color: #666666
  font-size: 1.1rem
  line-height: 180.19%
  p
    margin-bottom: 0!important

.yes-no
  display: flex
  align-items: center
  justify-content: center

.yes
  border-radius: 50%
  background-color: #F7E1CC
  color: $primaryOrange
  padding: 3px
  font-size: 1.25rem

.no
  font-size: 1.75rem
  color: #c4c4c4

.buyNowBtn
  border: none
  outline: none
  border-radius: 50px
  background: $primaryBlue
  color: #FFFFFF
  padding: 10px 40px
  margin-bottom: 2rem
  &:hover
    transition: all 0.2s ease-in-out
    background: $primaryOrange

.rowBreak
  margin-top: 1rem !important
  border-top: $tableBorder

.durationSpace
  margin-top: 1.5rem


//Unsure Which Service you need
.unsureBackground
  background-image: url("Images/unsureBackground.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  background-color: $primaryBlue 95%
  height: 100%

.unsureContainer
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.Unsure
  color: #FFFFFF
  text-align: center
  margin-top: 4rem
  h1
    margin-bottom: 2rem

.unsureButton
  margin-bottom: 3rem

//FAQs
.FAQBanner
  background-size: auto
  background: url("Images/FAQ-BG.png") no-repeat
  margin: 2rem 0
  width: 100%
  h3
    text-align: center
    margin-bottom: 4rem
    font-weight: 700

.card
  margin-bottom: 1rem
  border: 1px solid lightgray
  background-color: transparent !important
  word-wrap: break-word
  padding: 0 !important

.accordion
  background-color: $primaryBlue
  color: #FFFFFF
  cursor: pointer
  padding: 10px 60px !important
  width: 100%
  border: none
  text-align: left
  outline: none
  font-size: 1rem
  font-weight: 500
  transition: 0.4s
  display: flex
  justify-content: space-between
  align-items: center


.faq-active, .accordion:hover
  background-color: #1c2b36


.panel
  padding: 0
  max-height: 0
  overflow: hidden
  transition: style 0.2s ease-out
  background-color: #f1f1f1

.panelText
  display: flex
  justify-content: center
  align-items: center
  justify-self: center
  align-self: center

.accordion:after
  content: '\002B'
  color: $primaryOrange
  font-weight: bold
  float: right
  margin-left: 60px
  font-size: 1.5rem

.faq-active:after
  content: "\2212"


//Testimonials
.testimonialBanner
  background-color: #F3F3F3


//Footer Contact Us
.contactBanner
  background: $primaryBlue
  color: #FFFFFF

.contactFooter
  display: flex
  justify-content: center
  align-items: center
  align-content: space-around
  flex-direction: column
  margin: 4rem 0
  line-height: 2rem
  .contact
    margin-top: 4rem
    font-size: 3.75rem
  h5
    font-size: 1.5rem
    margin-top: 1.5rem
  h3
    margin: 1.5rem 0 2rem 0
    font-size: 3.125rem
  p
    font-size: 1.5rem



.contactPhone
  display: inline-flex
  margin-right: 1.5rem

.contactGroup
  display: inline-flex
  margin-left: 1rem

//Footer Logos
.footerLogos
  padding: 80px


//Footer Mailing List
#footerLower
  background: $primaryBlue
  display: flex
  color: #FFFFFF
  border-bottom: 1px solid #6A6A6A

.footerInfo
  width: 100%
  display: flex
  padding-top: 1.5rem
  margin: 2rem 0
  font-weight: 600

#greyLine
  display: flex
  border-right: 1px solid #6A6A6A
  align-content: flex-start
  justify-content: space-between
  padding-right: 2rem
  width: 62%

.footerIcons
  padding-bottom: 20px


#mailingList
  display: flex
  padding-left: 2.5rem
  width: 100%


#customerEmailAddress
  padding: 1.25rem 4rem 1.25rem 1.25rem
  border: none
  outline: none
  border-bottom-left-radius: 6px
  border-top-left-radius: 6px


#subscribe
  outline: none
  border: none
  background-color: $primaryOrange
  color: #FFFFFF
  border-bottom-right-radius: 50px
  border-top-right-radius: 50px
  padding: 1.25rem
  &:hover
    transition-duration: 400ms
    background-color: #bf6a17
  &:active
    background-color: #bf6a17
    box-shadow: 0 10px 21px rgba(238, 133, 31, 0.2)
    transform: translateY(4px)


//Footer Links
#footerLinks
  background: $primaryBlue
  display: flex
  color: #FFFFFF
  border-bottom: 1px solid #6A6A6A

.MYCOFooter
  display: flex
  width: 100%
  padding: 2rem 0
  justify-content: space-between
  align-content: space-between
  justify-items: left
  align-items: flex-start


.MYCOText
  width: 27%
  font-size: small

//Footer ul
.links
  display: flex
  width: 100%
  justify-content: space-around
  text-align: left
  font-size: small
  padding: 1.05rem 2rem



.links h4
  margin-bottom: 2rem
  padding-right: 1rem

.links ul
  list-style-type: none
  padding-left: 0
  padding-right: 1rem

.links li
  margin-bottom: 1rem


.contactUs
  padding-top: 1.05rem

.contactUs h4
  margin-bottom: 2rem





.footerContact
  display: flex

.fa-phone-alt::before
  content: "\f879"

.fa-envelope::before
  content: "\f0e0"


#copyrightTermsAndConditions
  background: $primaryBlue
  display: flex
  color: #FFFFFF

.copyright
  display: flex
  width: 100%
  font-size: smaller
  padding-top: 1.5rem
  align-items: center

#endOfPage
  display: flex
  text-align: end

#TAndC
  width: 100%
  display: flex
  align-items: center
  justify-items: end
  text-align: end

#TAndC p
  padding-left: 1.5rem

.lineSpace
  margin: 0.8rem 1rem
  border-left: 1px solid #6A6A6A
  height: 1.5rem






